* {
    padding: 0;
    margin: 0;
}

:root {
    --white: white;
    --font-dancing: "Dancing Script", cursive;
    --font-montserrat: "Montserrat", sans-serif;
}

.hearder {
    width: 1350px;
    height: 680px;
    background-image: url(img/tabble.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.hearder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: black;
    opacity: 0.5; */
    /* thay thế opacity bằng linear-gradient */
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 2;
}

.hearder-menu {
    position: absolute;
    z-index: 9999999999999;
    position: fixed;
    width: 1350px;
    height: 90px;
    /* background: #636e72; */
    /* đổi thuộc tính của background */
    /* background: transparent;
    opacity: 0.4; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.hearder-menu.sticky {
    /* padding: 5px 100px; */
    background: var(--white);

    z-index: 5;
}

.hearder-menu.sticky ul li a {
    color: #000;
}

.hearder-menu.sticky .picture-text {
    color: #000;
}

.picture-text {
    width: 85px;
    height: 33px;
    margin-right: 1000px;
}

.list-menu {
    margin-left: 500px;
    position: absolute;
}

.list-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-menu ul li {
    margin-left: 50px;
}

.list-menu ul li a {
    color: #bfbfbf;
    /* color: red */
    /* đổi màu của thẻ a */
    text-decoration: none;
}

ul li a:hover {
    color: var(--white);
}

/* hết menu fixed */

.text-menu {
    position: absolute;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    top: 35%;
    left: 20%;
    color: var(--white);
}

.scroll-down {
    display: block;
    position: absolute;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    bottom: 35px;
    left: 49%;
    margin-left: -30px;
    width: 50px;
    height: 50px;
    line-height: 54px;
    border-radius: 50%;
    border: 1px solid;
    opacity: 0.6;
    transition: opacity 0.5s;
    z-index: 5;
}

.fa-angle-down {
    display: inline-block;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

h4 {
    margin-bottom: 20px;
    /* fix lại font-size */
    font-size: 30px;
}

.size {
    /* fix lại font-size */
    font-size: 60px;
}

.font-gg {
    font-family: var(--font-dancing);
    /* fix lại font-size */
    font-size: 50px;
}

.button {
    margin-top: 60px;
}

.button-size {
    padding: 20px 40px 20px 40px;
    color: white;
    background: black;
    border: none;
    /* thêm transition và cursor: pointer */
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-size:hover {
    background: #bfbfbf;
}

/* .................................................... */

.text-deconation {
    text-align: center;
    margin-top: 100px;
}

.note-1 {
    font-weight: 550;
    font-size: 50px;
}

.paragarph {
    width: 850px;
    font-size: 18px;
    margin-left: 200px;
    font-family: var(--font-montserrat);
    margin-top: 20px;
    font-weight: 10;
}

.img-text {
    margin-top: 40px;
}

/* ....................................... */

.font-awesome {
    width: 1350px;
    height: 250px;
    background: #34495e;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-right: 100px;
}

.fas {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

.far {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

/* ................................................. */

.text-font {
    text-align: center;
    margin-top: 100px;
}

.note-2 {
    font-size: 50px;
    font-family: "Libre Caslon Display", serif;
}

.note-3 {
    margin-top: 20px;
    font-size: 20px;
    color: #535c68;
    width: 890px;
    margin-left: 220px;
}

/* ...................................................... */

.flex {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
}

.tranform {
    position: relative;
    height: 310px;
    width: 310px;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
}

.tranform::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background: #34495e;
    opacity: 0.7;
    visibility: hidden;
}

.text-tranform {
    position: absolute;
    text-align: center;
    color: var(--white);
    left: 20%;
    bottom: 30%;
    z-index: 99999;
    visibility: hidden;
}

.tranform:hover::after {
    visibility: visible;
}

.tranform:hover .text-tranform {
    visibility: visible;
    transform: translateY(-30px);
    transition: 0.5s;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

p {
    font-size: 13px;
}

/* ............................................... */

.slidershow {
    margin-top: 100px;
    position: absolute;
    overflow: hidden;
    width: 1330px;
    height: 300px;
    background: black;
}

.nagative {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    border: 2px solid var(--white);
    background: var(--white);
    width: 5px;
    height: 5px;
    margin-left: 4px;
    margin-top: 250px;
    border-radius: 30px;
    cursor: pointer;
}

.bar:hover {
    background: chartreuse;
    transition: 0.6s;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 300%;
    display: flex;
}

.slide {
    width: 100%;
    margin-left: 350px;
    margin-top: 100px;
    z-index: 999999;
    color: var(--white);
    text-align: center;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: 50%;
}

#r3:checked~.s1 {
    margin-left: 100%;
}

.img1 {
    width: 160px;
    height: 180px;
    margin-left: 50px;
}

.sticker {
    margin-top: 450px;
    margin-left: 100px;
}

.text-p3 {
    text-align: center;
    margin-top: 50px;
}

.lg-text {
    font-size: 40px;
}

.p-text {
    margin-top: 20px;
    font-size: 18px;
    color: #34495e;
}

/* ....................................... */
.img-opaciti {
    width: 1110px;
    height: 495px;
    display: flex;
    margin-top: 100px;
    margin: auto;
    overflow: hidden;
}

.box-img {
    position: relative;
    width: 370px;
    height: 438px;
    padding: 20px;
    margin-left: 30px;
    animation: tr99 2s ease-in infinite;
}

.poster {
    position: absolute;
    width: 340px;
    height: 221px;
}

.button-img {
    position: absolute;
    font-size: 13px;
    top: 40%;
    margin-left: 20px;
}

button {
    padding: 5px 20px 5px 20px;
    background: black;
    color: white;
}

.text-img-button {
    width: 250px;
    margin-left: 40px;
    margin-top: 250px;
}

.it {
    font-weight: 50;
    font-size: 13px;
    margin-top: 10px;
}

.text-it {
    font-size: 18px;
}

@keyframes tr99 {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-438px);
    }

    40% {
        transform: translateX(-976px);
    }

    60% {}
}